<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add blog</title>
</head>
<body>
<p></p>
<form th:action="@{/blog/add}" th:object="${blog}" method="post">
    <input type="hidden" th:field ="*{idBlog}"><br>
    <input type="hidden" th:field ="*{dateSubmit}"><br>
    <table border="1">
        <tr>
            <th>Tile</th>
            <td><input type="text" th:field="*{tileBlog}" required></td>
        </tr>
        <tr>
            <th>content</th>
            <td><input type="text" th:field="*{content}" required></td>
        </tr>
        <tr>
            <th>user name</th>
            <td><input type="text" th:field="*{nameUser}" required></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>