<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head><head>
    <meta charset="UTF-8">
    <title>list book</title>
</head>
<body>
<a th:href="@{/book-rental/return}">trả sách</a>
<table border="1">
  <tr>
    <th>STT</th>
    <th>Tên sách</th>
    <th>số lượng</th>
    <th>xem</th>
    <th>delete</th>
  </tr>
  <tr th:each="book,loop:${books}">
    <td th:text="${loop.count}"></td>
    <td th:text="${book.nameBook}"></td>
    <td th:text="${book.quantity}"></td>
    <td><a th:href="@{/book/view/{id}(id=${book.idBook})}">chi tiết</a></td>
    <td><a th:href="@{/book/delete/{id}(id=${book.idBook})}">delete</a></td>
  </tr>
</table>
</body>
</html>